<div class="page-selector"
     data-component="page-selector">
  <div class="page-selector__content-container">
    <div class="page-selector__page-order-list-container"
         data-element="page-selector__page-order-list-container">
    </div>
    <div class="page-selector__page-order-create-container"
         data-element="page-selector__page-order-create-container">
    </div>
    <div class="page-selector__page-order-statistics-container"
         data-element="page-selector__page-order-statistics-container">
    </div>
  </div>
</div>
