<div class="page"
     data-component="page">
  <div class="page__content-container">
    <div class="page__order-list-container"
         data-element="page__order-list-container">
    </div>
    <div class="page__order-create-container"
         data-element="page__order-create-container">
    </div>
    <div class="page__order-statistics-container"
         data-element="page__order-statistics-container">
    </div>
  </div>
</div>
