<div class="page-order-edit"
     data-component="page-order-edit">
  <div class="page-order-edit__content-container"
       data-element="page-order-edit__content-container">
    <h1 class="page-order-edit__describe">
      Редактирование заказа
    </h1>
    <div class="page-order-edit__form-order"
         data-element="page-order-edit__form-order">
    </div>
  </div>
</div>
