<div class="page-bad-hash">
  <div class="page-bad-hash__message-container">
    <div class="page-bad-hash__circle">
      <div class="page-bad-hash__rectangular">
        СТРАНИЦА НЕ НАЙДЕНА
      </div>
    </div>
    <a href="http://localhost:3000"
       class="page-bad-hash__link">Перейти на основную страницу
    </a>
  </div>
</div>
