<div class="page-order-create"
     data-component="page-order-create">
  <div class="page-order-create__content-container"
       data-element="page-order-create__content-container">
    <h1 class="page-order-create__describe">
      Создание заказа
    </h1>
    <div class="page-order-create__form-create-order"
         data-element="page-order-create__form-create-order">
    </div>
  </div>
</div>
