@import 'components/__shared/css/variables.scss';

.button-create {
  color: white;
  background-color: $light-blue;
  padding: 10px;
  border-radius: 3px;

  &:hover {
    background-color: $very-light-blue;
  }
}
