@import 'components/__shared/css/variables.scss';

.order-statistics {
  width: 100%;
  border-collapse: collapse;

  TD, TH {
    width: 25%;
    text-align: center;
    padding-left: 12px;
    border: 1px solid $black;
  }

  TD {
    padding: {
      top: 10px;
      bottom: 10px;
    }
  }

  TH {
    height: 45px;
    vertical-align: middle;
    background-color: $beige;
  }

  &__button-edit-container {
    width: 100%;
    height: 100%;
  }
}
