$white: rgb(252, 252, 252);
$black: rgb(20, 20, 20);
$gray: rgb(140, 140, 140);
$light-gray: rgb(243, 243, 243);
$red-intense: rgb(219, 63, 53);
$light-blue: rgb(54, 169, 234);
$background-gradient: linear-gradient(25deg, rgb(122, 202, 252) 0%, rgb(52, 176, 255) 25%, rgb(46, 180, 255) 25.05%, rgb(86, 192, 254) 75%, rgb(113, 198, 252) 75.01%, rgb(183, 223, 249));
