$white: rgb(252, 252, 252);
$black: rgb(50, 50, 50);
$gray: rgb(140, 140, 140);
$half-white: rgb(243, 243, 243);
$very-light-gray: rgb(157, 157, 157);
$red-intense: rgb(219, 63, 53);
$blue: rgb(30, 122, 192);
$light-blue: rgb(54, 169, 234);
$very-light-blue: rgb(65, 189, 245);
$beige: rgb(248, 247, 242);
$background-gradient: linear-gradient(25deg, rgb(122, 202, 252) 0%, rgb(52, 176, 255) 25%, rgb(46, 180, 255) 25.05%, rgb(86, 192, 254) 75%, rgb(113, 198, 252) 75.01%, rgb(183, 223, 249));
