<div class="page-order-list"
     data-component="page-order-list">
  <div class="page-order-list__button-create-container"
       data-element="page-order-list__button-create-container">
  </div>
  <div class="page-order-list__button-statistics-container"
       data-element="page-order-list__button-statistics-container">
  </div>
  <div class="page-order-list__order-list-container"
       data-element="page-order-list__order-list-container">
  </div>
</div>
