<form class="form-order"
      data-component="form-order">

  <label class="form-order__label"
         for="input-name">
  Имя:
  </label>
  <div class="form-order__tip-container"
       data-element="form-order__tip-name-container">
  </div>
  <div class="form-order__input-name-container"
       data-element="form-order__input-name-container">
  </div>

  <label class="form-order__label"
         for="input-address">
  Адрес:
  </label>
  <div class="form-order__tip-container"
       data-element="form-order__tip-address-container">
  </div>
  <div class="form-order__input-address-container"
       data-element="form-order__input-address-container">
  </div>

  <label class="form-order__label"
         for="input-phone">
  Телефон:
  </label>
  <div class="form-order__tip-container"
       data-element="form-order__tip-phone-container">
  </div>
  <div class="form-order__input-phone-container"
       data-element="form-order__input-phone-container">
  </div>

  <label class="form-order__label"
         for="select-status">
  Cтатус:
  </label>
  <div class="form-order__tip-container"
       data-element="form-order__tip-status-container">
  </div>
  <div class="form-order__select-status-container"
       data-element="form-order__select-status-container">
  </div>

  <div class="form-order__submit-container"
       data-element="form-order__submit-container">
  </div>

  <div class="form-order__button-cancel-container"
       data-element="form-order__button-cancel-container">
  </div>
</form>
