<div class="page-order-statistics"
     data-component="page-order-statistics">
  <div class="page-order-statistics__button-list-container"
       data-element="page-order-statistics__button-list-container">
  </div>
  <div class="page-order-statistics__order-statistics-container"
       data-element="page-order-statistics__order-statistics-container">
  </div>
</div>
